extends layout

block content

 h1 Autor: #{author.name}
 p #{autor.date_of_birth} - #{autor.date_of_death}
  a(href=book.author.url) #(book.author.name)

 div(style="margin-left:20px;margin-top:20px")

   h4 Bücher

   dl
    each book in author_books
     dt
      a(href=book.url) #{book.title}
     dd #{book.summary}
    else
     p Dieser Autor hat noch keine Bücher veröffentlicht.
   