extends layout

block content
 h1 #{title}
 p Titel: #{helper.title}
 p Autor: #{helper.author}
 p Erstelldatum: #{helper.createDate}
 p Angelegt von: #{helper.creator}
 p Typ: #{helper.type}
 p Kommentar: #{helper.comment}
 p Bewertung: #{helper.ratings}