extends layout

block content
  h1 Willkommen zu #{title}

  h3 Statusdaten

  if error
   p Beim Abrufen der dynamischen Inhalte gab es ein oder mehrere Probleme
   p error
  else
   p Der aktuelle Stand: 

   ul
    li #[strong Fakultäten:] !{data.faculty_count}
    li #[strong Studiengänge:] !{data.syllabus_count}
    li #[strong Kurse:] !{data.course_count}
    li #[strong Lernhilfen:] !{data.helper_count}
