extends layout

block content
 h1 #{title}
 p Vollständiger Name: #{userinfo.fullname}
 p Stadt: #{userinfo.city}
 p Land: #{userinfo.country}
 p Geschlecht: #{userinfo.gender}
 p Fakultät: #{userinfo.faculty}
 p Studiengang #{userinfo.syllabus}
 p Geburtsdatum: #{userinfo.birthdate}
 p Letzte Anmeldung: #{userinfo.lastLogin}
 p Avatar: 
  -var imgName = userinfo.avatar ? userinfo.avatar : "SmileyHelfer.png"
   img(src="/filedrop/" + imgName width="48" height="48")
 p
 if userinfo.id == -1
  a(href="/catalog/registeraccount") Benutzerkonto anlegen
 else
  a(href="/catalog/updateaccount") Benutzerkonto aktualisieren
 p
 a(href="/") Zurück
