extends layout

block content
 h1 #{title}
 p Vollständiger Name: #{userinfo.fullname}
 p Stadt: #{userinfo.city}
 p Land: #{userinfo.country}
 p Geschlecht: #{userinfo.gender}
 p Fakultät: #{userinfo.faculty}
 p Studiengang #{userinfo.syllabus}
 p Geburtsdatum: #{userinfo.birthdate}
 p Avatar: 
  // Abfrage an dieser Stelle überflüssig, da avavar-Eigenschaft mit diesem Namen vorbelegt wird
  -var imgName = userinfo.avatar != null ? userinfo.avatar : "SmileyHelfer.png"
   img(src="/filedrop/" + imgName width="48" height="48")
 p
 a(href="/catalog/registeraccount") Benutzerkonto anlegen
 p
 a(href="/catalog/updateaccount") Benutzerkonto aktualisieren
 p
 a(href="/") Zurück
